<style>
    ul{
        display: none;
    }
</style>
<div class="container">
    <div class="col-xs-4 col-xs-offset-4">
        <form class="form-signin">
            <h2 class="form-signin-heading">Veuillez vous connectez</h2>
            <label for="inputEmail" class="sr-only">Adresse email</label>
            <input type="email" id="inputEmail" class="form-control marginT-20" placeholder="Email" ng-model="email" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control marginT-20" placeholder="Mot de passe" ng-model="password" required="">
            <div class="checkbox center">
                <a href="#!/inscription">inscription</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="connection(email, password)">Connexion</button>
        </form>
    </div>
</div>