<div class="container">
    <div class="col-xs-4 col-xs-offset-4">
        <form class="form-signin">
            <h2 class="form-signin-heading">Formulaire d'inscription</h2>
            <label for="inputEmail" class="sr-only">Adresse email</label>
            <input type="email" id="inputEmail" class="form-control marginT-20" placeholder="Email" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control marginT-20" placeholder="Mot de passe" required="">
            <div class="checkbox">
                <label>
                    <a href="#!/inscription">inscription</a>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connection</button>
        </form>
    </div>
</div>