<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Menu</th>
            <th>Description</th>
            <th>Durée de préparation</th>
            <th>Prix</th>
            <th>Restaurant</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="menu in listMenu">
            <td>{{menu.libelle}}</td>
            <td>{{menu.description}}</td>
            <td>{{menu.duree}}</td>
            <td>{{menu.prix}}</td>
            <td>{{menu.refRestaurant}}</td>
        </tr>
        </tbody>
    </table>
</div>