<div class="col-xs-4">
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input type="text" class="form-control" placeholder="Nom du menu" ng-model="libelle">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-align-justify"></i></span>
            <label for="description"></label>
            <textarea class="form-control" id="description" placeholder="Description du menu" ng-model="description"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input type="number" class="form-control" min="0" step="1" placeholder="Durée de préparation" ng-model="duree">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
            <input type="number" class="form-control" placeholder="Prix" ng-model="prix">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="number" class="form-control" placeholder="Reference du restaurant" ng-model="refRestaurant">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="postdata(libelle, description, prix, duree, refRestaurant)">Valider</button>
        </div>
    </form>
</div>

