<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Client</th>
            <th>Adresse</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Menus</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="commande in listCommandes">
            <td>
                Tel: {{commande.client.phone}}<br>
                Addresse: {{commande.client.address}}
            </td>
            <td>{{commande.adress}}</td>
            <td>{{commande.price}}</td>
            <td>{{commande.status}}</td>
            <td>
                <p ng-repeat="menu in commande.menu_orders">
                    {{menu.quantity}} x {{menu.menu.libelle}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>